body {
    font-family: sans-serif;
    text-align: center;
    margin: 0; /* Remove default margin */
    padding-top: 30px; 
}

.title {
    font-size: 32px; 
    font-family: sans-serif; 
    text-align: center; 
    font-weight: bold;
}

.container {
    overflow: auto;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.control label {
    margin-right: 10px; /* Space between label and input */
    text-align: right; 
}

button {
    height: 30px;
    margin: 5px;
    border-radius: 0;
    border: 2px solid #bbb; 
    font-size: 16px;
    color: #000;
}

.panel {
    flex-basis: 160px;
}

.control input[type="number"], 
.control input[type="range"] {
    width: 100px;
    height: 20px; 
    text-align: center; 
    border-radius: 0; 
    border: 2px solid #bbb; 
    padding: 0;
}

button {
    height: 30px;
    margin: 5px;
    border-radius: 0;
    border: 2px solid #bbb; 
    font-size: 16px;
    color: #000;
}

button:active {
    background-color: #ddd;
}

.text {
    font-size: 16px;
    padding: 5px;
    text-align: left;
}

#volume {
    width: 100px;
    height: 12px;
    margin: 5px 0px;
}

.control input[type="range"] {
    -webkit-appearance: none; /* Remove default style (for Webkit browsers) */
    appearance: none; /* Remove default style */
    width: 12px;
    height: 22px; 
    border-radius: 0; 
}

.control input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default style */
    appearance: none; /* Remove default style */
    width: 12px;
    height: 22px; 
    background: #bbb; 
    border-radius: 0; 
    cursor: pointer; 
}

.control input[type="range"]::-moz-range-thumb {
    width: 12px; 
    height: 22px; 
    background: #bbb; 
    border-radius: 0;
    cursor: pointer; 
}

.control input[type="range"]::-ms-thumb {
    width: 12px;
    height: 22px; 
    background: #bbb; 
    border-radius: 0;
    cursor: pointer;
}

/* Hide number input's up and down arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Chrome and Safari */
    margin: 0; /* Remove default margin */
}

/* Hide range input's default style */
input[type="range"] {
    -webkit-appearance: none; /* Remove default style (for Webkit browsers) */
    appearance: none; /* Remove default style */
}

.control select {
    color: black;
    min-width: 100px;
    max-width: 100px;
    height: 20px;
    outline: 2px solid #bbb; 
    border: none;
    border-radius: 0; 
    padding: 0; 
}

#key {
    text-align: center;
}

.piano-keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.piano-container {
    width: 100%; 
    height: 300px; 
    background-color: #eee;
    overflow-x: auto; 
    position: absolute; 
    bottom: 65px;
    transform: scaleY(-1); /* let the scroll bar appear on the top */
}

.piano {
    user-select: none;
    display: flex;
    position: absolute;
    transform: scaleY(-1); /* let the scroll bar appear on the top */
    top: 244px;
    font-size: 14px;
    text-align: center;
    color: #888;
    line-height: 1;
}

.white-key {
    height: 240px;
    background: #fff;
    position: absolute;
    border-radius: 0 0 5px 5px;
    z-index: 2;
    /* border, width, and left will be set in js */
}

.black-key {
    height: 160px;
    background: #000;
    position: absolute;
    border-radius: 0 0 5px 5px;
    z-index: 3;
    /* border, width, left, and margin-left will be set in js */
}

.white-key.active {
    background: #dde;
}
.black-key.active {
    background: #669; 
}

#pedal {
    user-select: none;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #eee; 
    color: black; 
    font-size: 25px; 
    border: none; 
    cursor: pointer;
    margin: 0px;
}