.piano-keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.piano-container {
    width: 100%; 
    height: 300px; 
    background-color: #eee;
    overflow-x: auto; 
    position: absolute; 
    bottom: 65px;
    transform: scaleY(-1); /* let the scroll bar appear on the top */
}

.piano {
    user-select: none;
    display: flex;
    position: absolute;
    transform: scaleY(-1); /* let the scroll bar appear on the top */
    top: 244px;
    font-size: 14px;
    text-align: center;
    color: #888;
    line-height: 1;
}

.white-key {
    height: 240px;
    background: #fff;
    position: absolute;
    border-radius: 0 0 5px 5px;
    z-index: 2;
    /* border, width, and left will be set in js */
}

.black-key {
    height: 160px;
    background: #000;
    position: absolute;
    border-radius: 0 0 5px 5px;
    z-index: 3;
    /* border, width, left, and margin-left will be set in js */
}

.white-key.active {
    background: #dde;
}
.black-key.active {
    background: #669; 
}

#pedal {
    user-select: none;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #eee; 
    color: black; 
    font-size: 25px; 
    border: none; 
    cursor: pointer;
    margin: 0px;
}