body {
    font-family: Arial;
    text-align: center;
    margin: 0; /* Remove default margin */
    padding-top: 30px; 
}

.title {
    font-size: 32px; 
    font-family: sans-serif; 
    text-align: center; 
    font-weight: bold;
}

.container {
    overflow: auto;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.control label {
    margin-right: 10px; /* Space between label and input */
    text-align: right; 
}

.control input[type="number"], 
.control input[type="range"] {
    width: 62px; 
    height: 20px; 
    text-align: center; 
    border-radius: 0; 
    border: 2px solid #bbb; 
    padding: 0;
}

button {
    height: 30px;
    margin: 5px;
    border-radius: 0;
    border: 2px solid #bbb; 
    font-size: 16px;
    color: #000;
}

button:active {
    background-color: #ddd;
}

.text {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    text-align: left;
}

.control input[type="range"] {
    -webkit-appearance: none; /* Remove default style (for Webkit browsers) */
    appearance: none; /* Remove default style */
    width: 12px;
    height: 22px; 
    border-radius: 0; 
}

.control input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default style */
    appearance: none; /* Remove default style */
    width: 12px;
    height: 22px; 
    background: #bbb; 
    border-radius: 0; 
    cursor: pointer; 
}

.control input[type="range"]::-moz-range-thumb {
    width: 12px; 
    height: 22px; 
    background: #bbb; 
    border-radius: 0;
    cursor: pointer; 
}

.control input[type="range"]::-ms-thumb {
    width: 12px;
    height: 22px; 
    background: #bbb; 
    border-radius: 0;
    cursor: pointer;
}

/* Hide number input's up and down arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Chrome and Safari */
    margin: 0; /* Remove default margin */
}

/* Hide range input's default style */
input[type="range"] {
    -webkit-appearance: none; /* Remove default style (for Webkit browsers) */
    appearance: none; /* Remove default style */
}

.control select {
    color: black;
    width: 124px; 
    height: 24px;
    border: 2px solid #bbb; 
    border-radius: 0; 
    padding: 0; 
}
