body {
    font-family: Arial, sans-serif;
    padding-top: 30px; 
    margin: 0px;
}

.title {
    font-size: 32px; 
    margin-bottom: 10px; 
    font-family: sans-serif; 
    text-align: center; 
    font-weight: bold;
}

.container {
    display: flex;
    align-items: center; 
}

.text {
    font-size: 16px;
    margin: 5px;
    line-height: 1.15;
}

.input {
    box-sizing: border-box;
    width: 50px;
    height: 30px;
    margin: 5px;
    border-radius: 0;
    border: 2px solid #bbb; 
    font-size: 16px;
    text-indent: 2px;
}

.question {
    font-size: 20px;
}

.question-input {
    font-size: 20px;
    height: 35px;
}

.button {
    height: 30px;
    margin: 5px;
    border-radius: 0;
    border: 2px solid #bbb; 
    font-size: 16px;
    color: #000;
}

.checkbox {
    margin: 10px;
    width: 20px;
    height: 20px;
}

#toggleHidden {
    padding-left: 15px;
    padding-right: 15px;
}

.button:active {
    background-color: #ddd;
}

#output {
    font-family: Lucida Console;
    line-height: 1.5;
}