body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0; /* Remove default margin */
    padding-top: 30px; 
}

.title {
    font-size: 32px; 
    margin-bottom: 20px; 
    font-family: sans-serif; 
    text-align: center; 
    font-weight: bold;
}


button {
    outline: none;
    font-size: 24px;
    border: 2px solid #bbb; 
    background-color: #eee;
    cursor: pointer;
    margin: 10px;
    padding: 15px;
    border-radius: 0;
    color: #000;
}

button.active, button:active {
    background-color: #fff;
}

.input {
    box-sizing: border-box;
    width: 60px;
    height: 30px;
    margin: 0px;
    border-radius: 0;
    border: 2px solid #bbb; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-indent: 2px;
}


#tap {
    width: 80%;
}

.text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin: 10px;
}

.bpm-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.bpm-label {
    text-align: left;
    flex: 1;
}

.bpm-value {
    text-align: right;
    flex: 0 0 auto;
    min-width: 50px;
}