body {
    font-family: Arial;
    text-align: center;
    margin: 0; /* Remove default margin */
    padding-top: 30px; 
}

.title {
    font-size: 32px; 
    font-family: sans-serif; 
    text-align: center; 
    font-weight: bold;
}

.container {
    width: 400px; 
    overflow: auto;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.control label {
    margin-right: 10px; /* Space between label and input */
    flex-basis: 200px; 
    text-align: right; 
}

.control input[type="number"], 
.control input[type="range"] {
    width: 62px; 
    height: 20px; 
    text-align: center; 
    border-radius: 0; 
    border: 2px solid #bbb; 
    padding: 0;
}

button {
    outline: none;
    font-size: 22px;
    font-family: Arial;
    width: 24px;
    height: 24px;
    border: none;
    background-color: #bbb;
    color: white;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 0;
    padding: 0;
}

button:active {
    background-color: #ddd;
}

#volume {
    width: 120px;
    height: 12px;
    margin: 5px 0px;
}

.text {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    text-align: left;
}

.display {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    overflow: auto;
    justify-content: center;
    white-space: pre-line;
    line-height: 1; /* in case of ♭. if we don't fix line-height, the ♭ will make the line higher */
}

.control input[type="range"] {
    -webkit-appearance: none; /* Remove default style (for Webkit browsers) */
    appearance: none; /* Remove default style */
    width: 12px;
    height: 22px; 
    border-radius: 0; 
}

.control input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default style */
    appearance: none; /* Remove default style */
    width: 12px;
    height: 22px; 
    background: #bbb; 
    border-radius: 0; 
    cursor: pointer; 
}

.control input[type="range"]::-moz-range-thumb {
    width: 12px; 
    height: 22px; 
    background: #bbb; 
    border-radius: 0;
    cursor: pointer; 
}

.control input[type="range"]::-ms-thumb {
    width: 12px;
    height: 22px; 
    background: #bbb; 
    border-radius: 0;
    cursor: pointer;
}

/* Hide number input's up and down arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Chrome and Safari */
    margin: 0; /* Remove default margin */
}

/* Hide range input's default style */
input[type="range"] {
    -webkit-appearance: none; /* Remove default style (for Webkit browsers) */
    appearance: none; /* Remove default style */
}

.control select {
    color: black;
    width: 124px; 
    height: 24px;
    border: 2px solid #bbb; 
    border-radius: 0; 
    padding: 0; 
}

#key {
    width: 66px;
    text-align: center;
}

#pedal {
    user-select: none;
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 80px;
    background-color: #eee; 
    color: black; 
    font-size: 25px; 
    border: none; 
    cursor: pointer;
    margin: 0px;
}