.piano-keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.piano-container {
    width: 100%; 
    height: 300px; 
    background-color: #eee;
    overflow-x: auto; 
    position: absolute; 
    bottom: 65px;
    transform: scaleY(-1); /* let the scroll bar appear on the top */
}

.piano {
    user-select: none;
    display: flex;
    position: absolute;
    transform: scaleY(-1); /* let the scroll bar appear on the top */
    top: 244px;
    font-size: 14px;
    text-align: center;
    color: #888;
    line-height: 1;
}

.white-key {
    height: 240px;
    background: #fff;
    position: absolute;
    z-index: 2;
    /* border, width, and left will be set in js */
}

.black-key {
    top: 80px;
    height: 80px;
    background: #000;
    position: absolute;
    border-radius: 4px;
    z-index: 4;
    /* border, width, left, and margin-left will be set in js */
}

.grey-key {
    height: 160px;
    background: #ddd;
    position: absolute;
    border-radius: 4px;
    z-index: 3;
    /* border, width, left, and margin-left will be set in js */
}

.white-key.active {
    background: #dde;
}
.black-key.active {
    background: #669; 
}
.grey-key.active {
    background: #bbd;
}